.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: #15294c;
  font-weight: bold;
}

#shoppingCart {
    position: fixed;
    bottom: 15px;
    right: 25px;
    font-size: 55px;
    color: #1964ab;
    background-color: #15294c;
    border: #15294c 2px solid;
    padding: 10px 20px 10px 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1.5s;
}
#shoppingCart:hover {
    color: #15294c;
    background-color: #1964ab;
    box-shadow: #15294c 0px 0px 18px;
    transform: rotate(360deg);
}

#list-plans-container {
  width: 100%;
}

.subTitlePlansContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
  background-color: #1964ab;
  margin: 25px;
  padding: 15px;
  padding-left: 50px;
  border-radius: 25px;
  color: white;
}

.subTitlePlansContainer h2 {
  padding-left: 25px;
  font-size: 35px;
}

.subTitlePlansContainer i {
  padding-left: 25px;
  font-size: 35px;
}

.categoryContainer{
    width: 100%;
  /* display: flex; */
}

.navButtons{
    display: flex;
    width: 100%;
}
.navButtons .carousel-control-prev,
.navButtons .carousel-control-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #333;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    padding: 10px 15px;
}

.carruselContainer {
  margin-left: 80px;
  display: flex;
  overflow-x: auto; 
  overflow-x: hidden; 
  scroll-behavior: smooth;
  width: 86%;
  margin: auto;
  position: relative;
}


.package-card {
  width: 350px;
  background-color: #b49178;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  border: black 2px solid;
  box-shadow: 4px 4px 5px #eebc00;
  margin-right: 40px;
  margin-bottom: 40px;
  flex: 0 0 auto; /* Evita que las tarjetas se estiren */
}
.package-card:last-child {
  margin-right: 0px;
}
.package-card img {
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.package-card button {
  margin-top: 8px;
  width: 80%;
  background-color: #c05923;
  border-radius: 50px;
  border: none;
  padding: 5px;
}

