<div id="plan-details-container">
    <div id="container-leftSide-plan">
        <div id="headerInfo">
            <div class="title">CONOCE ACERCA DE HOTEL TECHTOUR</div>
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/29/08/19/ff/the-springs-resort-and.jpg?w=1200&h=-1&s=1" alt="">
        </div>
        <div id="description" class="chart">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo totam dignissimos ut molestiae optio, facere earum eveniet animi sunt suscipit beatae ex ea voluptatum mollitia repudiandae autem quibusdam, eaque laborum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quibusdam unde mollitia eum, asperiores corporis odio alias, ipsam quae repellendus obcaecati cum nobis velit reprehenderit nostrum aspernatur itaque ex odit.
        </div>
    </div>
    <div id="container-rightSide-plan">
        <div id="features" class="chart">
            <div class="title">Características</div>
            <ul>
                <li>Caracteristica 1: Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam reiciendis optio quisquam veritatis. Nostrum optio cupiditate quis ad facilis delectus totam! Exercitationem laborum esse neque non laudantium corporis repudiandae quo!</li>
                <li>Caracteristica 2: Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Caracteristica 3: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nihil vitae, dolorem voluptatem dicta hic nemo amet! Magnam reprehenderit fuga perspiciatis eos inventore nulla. Ex natus laboriosam deleniti itaque tenetur?</li>
                <li>Caracteristica 4: Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi at error consequatur, harum illo quod consectetur quibusdam asperiores culpa non fugiat sint nemo nostrum aut omnis. Tenetur exercitationem culpa nihil?</li>
                <li>Caracteristica 5: Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Caracteristica 6: Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius rerum vel esse voluptatibus, autem reiciendis. Numquam cupiditate nihil perspiciatis, assumenda corporis reiciendis, quia laborum ex saepe fugiat dolores nam illum.</li>
                <li>Caracteristica 7: Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Caracteristica 8: Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam cumque voluptates modi aut labore voluptate ullam, incidunt inventore iste delectus veritatis sunt obcaecati vero? Temporibus optio rerum nihil velit perferendis!</li>
            </ul>
        </div>
        <div id="location" class="chart">
            <div class="title">Ubicación</div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3933.7188878438496!2d-84.63403127065503!3d9.619455564736116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa1c7173bf45959%3A0xbcfc7de30bf71675!2sBest%20Western%20Jaco%20Beach%20All%20Inclusive%20Resort!5e0!3m2!1ses!2sco!4v1711873813670!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>