<div class="head">
    <div class="head-logo">
        <img src="assets\logo.png" alt="Descripción de la imagen">
        <h1 class="title">TourCreate</h1>
    </div>
    <div class="buttons">
        <button class="button-header">Paquetes</button>
        <button class="button-header">Destinos</button>
        <button class="button-header">Carro de compras</button>
    </div>
    <div class="button-user">
        <button class="button-icon"><i class="fas fa-user"></i></button>
    </div>
</div>